body {
    margin: 0;
    background-color: rgb(87, 38, 36);
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------- */
/* header */
/* ----------------------------------------------------------------------------------------------------------------------------------------------- */

#grid_header {
    display: grid;
    width: 100%;
    background-color: rgb(87, 38, 36);
    grid-template-rows: 120px 40px 30px 40px;
    grid-template-columns: 20% 1fr;
    grid-template-areas:
        'nav titulo_header'
        'nav subtitulo_header'
        'frase_header frase_header'
        'menu_header menu_header';
}

#grid_header>nav {
    grid-area: nav;
    background-color: rgb(87, 38, 36);
    text-align: center;
}

#grid_header>#titulo_header {
    grid-area: titulo_header;
    color: rgb(210, 202, 144);
    font-size: 60px;
    font-style: italic;
    text-align: center;
    line-height: 100px;
}

#grid_header>#subtitulo_header {
    grid-area: subtitulo_header;
    color: rgb(210, 202, 144);
    background-color: rgb(87, 38, 36);
    font-size: 25px;
    font-style: italic;
    text-align: center;
    margin: 0;
    border: 0;
    padding-bottom: 30px;

}

#grid_header>#frase_header {
    grid-area: frase_header;
    color: rgb(87, 38, 36);
    background-color: rgb(210, 202, 144);
    font-style: italic;
    text-align: center;
    font-size: 17px;
    padding-top: 4px;
    border: 0;
    margin: 0;
}

#grid_header>#menu_header {
    grid-area: menu_header;
    background-color: rgb(87, 38, 36);
    font-weight: bold;
    text-align: center;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        line-height: 40px;
    }

    li {
        width: 100px;
        display: inline-block;
    }

    a {
        text-decoration: none;
        display: block;
        color: rgb(210, 202, 144);
    }

    a:hover {
        background: #f9a91a;
        color: #000;
        font-weight: bold;
    }
}



/* ------------------------------------------------------------------------ */
/* container-inicio */
/* ------------------------------------------------------------------------ */

#container-inicio {
    display: grid;
    background-color: rgb(210, 202, 144);
    width: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        'video_principal';
}

#container-inicio>#video_principal {
    grid-area: video_principal;
    position: relative;
}

/* ------------------------------------------------------------------------ */
/* container-contenido */
/* ------------------------------------------------------------------------ */

#container-contenido {
    display: grid;
    width: 100%;
    background-color: rgb(210, 202, 144);
    grid-template-rows: repeat(2, 50%);
    grid-template-columns: 15% 35% 15% 35%;
    grid-template-areas:
        'contenido1 contenido1 contenido2 contenido2'
        'contenido3 contenido3 contenido4 contenido4';
}

#container-contenido>#contenido1 {
    grid-area: contenido1;
    text-align: center;
    border: solid 2px rgb(210, 202, 144);
    background: linear-gradient(to right, rgb(87, 38, 36), rgb(190, 31, 43));
    color: rgb(210, 202, 144);
}

#container-contenido>#contenido2 {
    grid-area: contenido2;
    text-align: center;
    border: solid 2px rgb(210, 202, 144);
    background: linear-gradient(to right, rgb(87, 38, 36), rgb(190, 31, 43));
    color: rgb(210, 202, 144);
}

#container-contenido>#contenido3 {
    grid-area: contenido3;
    text-align: center;
    border: solid 2px rgb(210, 202, 144);
    background: linear-gradient(to right, rgb(87, 38, 36), rgb(190, 31, 43));
    color: rgb(210, 202, 144);
}

#container-contenido>#contenido4 {
    grid-area: contenido4;
    text-align: center;
    border: solid 2px rgb(210, 202, 144);
    background: linear-gradient(to right, rgb(87, 38, 36), rgb(190, 31, 43));
    color: rgb(210, 202, 144);
}

/* ------------------------------------------------------------------------ */
/* container-videos */
/* ------------------------------------------------------------------------ */

#container-videos {
    display: grid;
    width: 100%;
    background-color: rgb(210, 202, 144);
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        'video_1  video_2'
        'video_3  video_4';
}

#container-videos>#video_1 {
    grid-area: video_1;
    position: relative;
    border: 5px solid rgb(210, 202, 144);
}

#container-videos>#video_2 {
    grid-area: video_2;
    position: relative;
    border: 5px solid rgb(210, 202, 144);
}

#container-videos>#video_3 {
    grid-area: video_3;
    position: relative;
    border: 5px solid rgb(210, 202, 144);
}

#container-videos>#video_4 {
    grid-area: video_4;
    position: relative;
    border: 5px solid rgb(210, 202, 144);
}

/* ------------------------------------------------------------------------ */
/* container-tab */
/* ------------------------------------------------------------------------ */

#container-tabs {
    display: grid;
    background-color: rgb(210, 202, 144);
    width: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        'table-tabs';
    overflow: auto;
}

#container-tabs>#table-tabs {
    grid-area: table-tabs;
    width: 100%;
    border: 1px solid;
    text-align: center;

    table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
        padding-top: 20px;

        li {
            list-style: none;
        }
    }

    ul,
    th,
    td {
        border: 1px solid;
        text-align: center;
        padding: 20px;
        list-style-type: none
    }
}


/* ------------------------------------------------------------------------ */
/* container-contacto */
/* ------------------------------------------------------------------------ */

#container-contacto {
    display: grid;
    background-color: rgb(210, 202, 144);
    width: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        'contacto_form';
}

#container-contacto>#contacto_form {
    grid-area: contacto_form;
    text-align: center;
    padding-top: 30px;
    padding-left: 15px;
    padding-bottom: 30px;
    margin-left: 25px;

    input {
        width: 25%;
    }

    textarea {
        width: 50%;
    }
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------- */
/* footer */
/* ----------------------------------------------------------------------------------------------------------------------------------------------- */

#grid_footer {
    display: grid;
    width: 100%;
    background-color: rgb(87, 38, 36);
    grid-template-rows: 50px 1fr;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
        'titulo_footer titulo_footer titulo_footer titulo_footer'
        'red_social_1 red_social_2 red_social_3 red_social_4';
}

#grid_footer>#titulo_footer {
    grid-area: titulo_footer;
    border: 1px solid black;
    color: rgb(210, 202, 144);
    text-align: center;
    font-style: italic;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    border: 0;
    padding-bottom: 60px;
}

#grid_footer>#red_social_1 {
    grid-area: red_social_1;
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

#grid_footer>#red_social_2 {
    grid-area: red_social_2;
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

#grid_footer>#red_social_3 {
    grid-area: red_social_3;
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

#grid_footer>#red_social_4 {
    grid-area: red_social_4;
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------- */
/* media queries */
/* ----------------------------------------------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 550px) {
    #grid_footer>#titulo_footer {
        font-size: 15px;
    }

    img {
        object-fit: contain;
        margin: auto;
        display: block;
        width: 50%;
    }
}

@media only screen and (max-width: 550px) {
    #grid_header>#titulo_header {
        font-size: 30px;
    }

    #grid_header>#subtitulo_header {
        font-size: 20px;
    }

    #grid_header>#frase_header {
        font-size: 12px;
    }

    #grid_header>#menu_header {
        li {
            font-size: 13px;
            width: 65px;
        }
    }

    a {
        width: 65px;
    }

    #grid_header>nav {

        img {
            object-fit: contain;
            width: 120%;
            margin: auto;
            padding-top: 35px;
            display: block;
        }
    }
}

@media only screen and (max-width: 400px) {
    #container-contenido {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'contenido1 contenido1'
            'contenido2 contenido2'
            'contenido3 contenido3'
            'contenido4 contenido4';
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 550px) {
    #container-videos {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas:
            'video_1'
            'video_2'
            'video_3'
            'video_4';
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 550px) {
    #container-tabs>#table-tabs {

        th {
            font-size: 12px;
        }

        td {
            font-size: 12px;
        }
    }
}