body {
  margin: 0;
  background-color: #572624;
}

#grid_header {
  display: grid;
  width: 100%;
  background-color: #572624;
  grid-template-rows: 120px 40px 30px 40px;
  grid-template-columns: 20% 1fr;
  grid-template-areas: "nav titulo_header" "nav subtitulo_header" "frase_header frase_header" "menu_header menu_header";
}
#grid_header nav {
  grid-area: nav;
  text-align: center;
}
#grid_header #titulo_header {
  grid-area: titulo_header;
  color: #D2CA90;
  font-size: 60px;
  font-style: italic;
  text-align: center;
  line-height: 100px;
}
#grid_header #subtitulo_header {
  grid-area: subtitulo_header;
  color: #D2CA90;
  font-size: 25px;
  font-style: italic;
  text-align: center;
}
#grid_header #frase_header {
  grid-area: frase_header;
  color: #572624;
  background-color: #D2CA90;
  font-style: italic;
  text-align: center;
  font-size: 17px;
}
#grid_header #menu_header {
  grid-area: menu_header;
  background-color: #572624;
  font-weight: bold;
  text-align: center;
}
#grid_header #menu_header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 40px;
}
#grid_header #menu_header li {
  width: 100px;
  display: inline-block;
}
#grid_header #menu_header a {
  text-decoration: none;
  display: block;
  color: #D2CA90;
}
#grid_header #menu_header:hover {
  background: #f9a91a;
  color: #000;
  font-weight: bold;
}

#grid_footer {
  display: grid;
  width: 100%;
  background-color: #572624;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-areas: "titulo_footer titulo_footer titulo_footer titulo_footer" "red_social_1 red_social_2 red_social_3 red_social_4";
}
#grid_footer #titulo_footer {
  grid-area: titulo_footer;
  border: 1px solid #000;
  color: #D2CA90;
  text-align: center;
  font-style: italic;
  font-size: 20px;
  line-height: 20px;
  margin: 0;
  border: 0;
  padding-bottom: 60px;
}
#grid_footer #grid_footer > #red_social_1, #grid_footer #grid_footer > #red_social_4, #grid_footer #grid_footer > #red_social_3, #grid_footer #grid_footer > #red_social_2 {
  grid-area: red_social_1;
  margin-top: 50px;
  margin-bottom: 40px;
  text-align: center;
}
#grid_footer #grid_footer > #red_social_2 {
  grid-area: red_social_2;
}
#grid_footer #grid_footer > #red_social_3 {
  grid-area: red_social_3;
}
#grid_footer #grid_footer > #red_social_4 {
  grid-area: red_social_4;
}

#container-inicio {
  display: grid;
  width: 100%;
  background-color: #D2CA90;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "video_principal";
}
#container-inicio #video_principal {
  grid-area: video_principal;
  position: relative;
}

#container-contenido {
  display: grid;
  width: 100%;
  background-color: #D2CA90;
  grid-template-rows: repeat(2, 50%);
  grid-template-columns: 15% 35% 15% 35%;
  grid-template-areas: "contenido1 contenido1 contenido2 contenido2" "contenido3 contenido3 contenido4 contenido4";
}
#container-contenido #contenido1, #container-contenido #contenido4, #container-contenido #contenido3, #container-contenido #contenido2 {
  grid-area: contenido1;
  text-align: center;
  border: solid 2px #D2CA90;
  background: linear-gradient(to right, #572624, #BE1F2B);
  color: #D2CA90;
}
#container-contenido #contenido2 {
  grid-area: contenido2;
}
#container-contenido #contenido3 {
  grid-area: contenido3;
}
#container-contenido #contenido4 {
  grid-area: contenido4;
}

#container-videos {
  display: grid;
  width: 100%;
  background-color: #D2CA90;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 50% 50%;
  grid-template-areas: "video_1  video_2" "video_3  video_4";
}
#container-videos #video_1, #container-videos #video_4, #container-videos #video_3, #container-videos #video_2 {
  grid-area: video_1;
  position: relative;
  border: 5px solid #D2CA90;
}
#container-videos #video_2 {
  grid-area: video_2;
}
#container-videos #video_3 {
  grid-area: video_3;
}
#container-videos #video_4 {
  grid-area: video_4;
}

#container-tabs {
  display: grid;
  width: 100%;
  background-color: #D2CA90;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "table-tabs";
  overflow: auto;
}
#container-tabs #table-tabs {
  grid-area: table-tabs;
  width: 100%;
  border: 1px solid;
  text-align: center;
}
#container-tabs #table-tabs table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  padding-top: 20px;
}
#container-tabs #table-tabs table li {
  list-style: none;
}
#container-tabs #table-tabs ul,
#container-tabs #table-tabs th,
#container-tabs #table-tabs td {
  border: 1px solid;
  text-align: center;
  padding: 20px;
  list-style-type: none;
}

#container-contacto {
  display: grid;
  width: 100%;
  background-color: #D2CA90;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "contacto_form";
}
#container-contacto #contacto_form {
  grid-area: contacto_form;
  text-align: center;
  padding-top: 30px;
  padding-left: 15px;
  padding-bottom: 30px;
  margin-left: 25px;
}
#container-contacto #contacto_form input {
  width: 25%;
}
#container-contacto #contacto_form textarea {
  width: 50%;
}

@media only screen and (max-width: 550px) {
  #grid_footer > #titulo_footer {
    font-size: 15px;
  }
  img {
    object-fit: contain;
    margin: auto;
    display: block;
    width: 50%;
  }
}
@media only screen and (max-width: 550px) {
  #grid_header > #titulo_header {
    font-size: 30px;
  }
  #grid_header > #subtitulo_header {
    font-size: 20px;
  }
  #grid_header > #frase_header {
    font-size: 12px;
  }
  #grid_header > #menu_header li {
    font-size: 13px;
    width: 65px;
  }
  a {
    width: 65px;
  }
  #grid_header > nav img {
    object-fit: contain;
    width: 120%;
    margin: auto;
    padding-top: 35px;
    display: block;
  }
}
@media only screen and (max-width: 300px) {
  #grid_header > #titulo_header {
    font-size: 20px;
  }
  #grid_header > #subtitulo_header {
    font-size: 15px;
  }
  #grid_header > #frase_header {
    font-size: 11px;
  }
  #grid_header > #menu_header li {
    font-size: 10px;
    width: 42px;
  }
  a {
    width: 40px;
  }
  #grid_header > nav img {
    object-fit: contain;
    width: 120%;
    margin: auto;
    padding-top: 35px;
    display: block;
  }
}
@media only screen and (max-width: 400px) {
  #container-contenido {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "contenido1 contenido1" "contenido2 contenido2" "contenido3 contenido3" "contenido4 contenido4";
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 550px) {
  #container-videos {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: "video_1" "video_2" "video_3" "video_4";
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 550px) {
  #container-tabs > #table-tabs th {
    font-size: 12px;
  }
  #container-tabs > #table-tabs td {
    font-size: 12px;
  }
}
@media only screen and (max-width: 300px) {
  #container-tabs > #table-tabs {
    font-size: 6px;
  }
  #container-tabs > #table-tabs th {
    font-size: 8px;
  }
  #container-tabs > #table-tabs td {
    font-size: 8px;
  }
}

/*# sourceMappingURL=styles.css.map */
