@mixin grid-width($type, $width) {
    display: $type;
    width: $width;
}
#grid_footer {
    @include grid-width(grid, 100%);
    background-color: $color1;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas:
        'titulo_footer titulo_footer titulo_footer titulo_footer'
        'red_social_1 red_social_2 red_social_3 red_social_4';

    #titulo_footer {
        grid-area: titulo_footer;
        border: 1px solid $color5;
        color: $color3;
        text-align: center;
        font-style: italic;
        font-size: 20px;
        line-height: 20px;
        margin: 0;
        border: 0;
        padding-bottom: 60px;
    }

    #grid_footer>#red_social_1 {
        grid-area: red_social_1;
        margin-top: 50px;
        margin-bottom: 40px;
        text-align: center;
    }

    #grid_footer>#red_social_2 {
        grid-area: red_social_2;
        @extend #red_social_1;
    }

    #grid_footer>#red_social_3 {
        grid-area: red_social_3;
        @extend #red_social_1;
    }

    #grid_footer>#red_social_4 {
        grid-area: red_social_4;
        @extend #red_social_1;
    }
}