#grid_header {
    display: grid;
    width: 100%;
    background-color: $color1;
    grid-template-rows: 120px 40px 30px 40px;
    grid-template-columns: 20% 1fr;
    grid-template-areas:
        'nav titulo_header'
        'nav subtitulo_header'
        'frase_header frase_header'
        'menu_header menu_header';

    nav {
        grid-area: nav;
        text-align: center;
    }

    #titulo_header {
        grid-area: titulo_header;
        color: $color3;
        font-size: 60px;
        font-style: italic;
        text-align: center;
        line-height: 100px;
    }

    #subtitulo_header {
        grid-area: subtitulo_header;
        color: $color3;
        font-size: 25px;
        font-style: italic;
        text-align: center;
    }

    #frase_header {
        grid-area: frase_header;
        color: $color1;
        background-color: $color3;
        font-style: italic;
        text-align: center;
        font-size: 17px;
    }

    #menu_header {
        grid-area: menu_header;
        background-color: $color1;
        font-weight: bold;
        text-align: center;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            line-height: 40px;
        }

        li {
            width: 100px;
            display: inline-block;
        }

        a {
            text-decoration: none;
            display: block;
            color: $color3;
        }

        &:hover {
            background: $color6;
            color: $color5;
            font-weight: bold;
        }
    }
}